@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600);
h1, h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight:300;
  text-align:center;
}

.container {
  width:360px;
  margin:0 auto;
  position:relative;
  perspective:800;
  -webkit-perspective:800;
  -moz-perspective:800;
  
}
.theCard {
  width:100%;
  height:100%;
  position:absolute;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
figure {
  display: block;
  position: absolute;
  min-height:175px;
  width:330px;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
.theCard.flipped {
  -webkit-transform: rotateY(180deg);
}
.theCardFront,
.theCardBack{
  background-color:#96CDCD;
  border-radius:5px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin:0 auto;
  color:#444;
  padding:15px;
}
.theCardBack {
  -webkit-transform: rotateY(180deg);
  transform:rotateY(180deg);
}
.instructions {
  text-align:center;
  float:left;
  margin:0 0 .5em;
}
.variousCards {
  float:right;
}
#visa {
    display:inline-block;
    max-width: 90px;
    margin:0 0 0 10px;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
  }
  #mastercard {
      display:inline-block;
      max-width: 65px;
      margin:0 0 0 10px;
      -webkit-backface-visibility:hidden;
      backface-visibility:hidden;
    }
    #venmo {
      display:inline-block;
      max-width: 60px;
      margin:0 0 0 10px;
      -webkit-backface-visibility:hidden;
      backface-visibility:hidden;
    }
    #paypal {
      display:inline-block;
      max-width: 60px;
      margin:0 0 0 10px;
      -webkit-backface-visibility:hidden;
      backface-visibility:hidden;
    }
.active {
    opacity:1;
}
.clear {
  clear:both;
  float:none;
}
small {
  margin:5px 0;
  font-style:italic;
}
.signIn,
.pay{
  display:inline-block;
  background-color:#5F9F9F;
  color:#fff;
  text-decoration:none;
  padding:5px 10px;
  border:none;
  border-radius:5px;
  border-bottom:2px solid #528B8B;
  transition: .5s background-color;
  font-weight:600;
}
.signIn:hover,
.pay:hover{
  background-color:#528b8b;
  cursor:pointer;
}
input {
  font-size:1em;
  padding:.15em;
  text-align:center;
  outline:none;
}
.cardNumber input{
  width:20.9%;
  margin:.75em .05em; 
}
.cardExpiration{
  float:left;
  width:50%;
}
.month {
  width:20%;
}
.year {
  width:35%;
}
.cardSecurity {
  float:right;
  width:50%;
  position:relative;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
.cardSecurity small {
}
.csc {
  width:22%;
  margin:0 .5em 0 0;
}
.help {
	display:none;
	color:#fff;
	background-color:#999;
	padding:10px;
	max-width:175px;
	font-size:.85em;
	border-radius:3px;
	border-bottom:3px solid #888;
	position:absolute;
	bottom:-6em;
	right:30px;
	z-index:100;
}
.help:before {
	content:' ';
	display:inline-block;
	border-bottom:10px solid #999;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	position:absolute;
	top:-10px;
	left:15px;
}
.tooltip:hover {
  text-decoration:underline;
  cursor:pointer;
}
.tooltip:hover ~ .help{
  display:inline-block;
}
.pay,
input.signIn {
  margin:10px 0 0;
  width:100%;
}
.login input {
  width:50%;
}



.gohome{
    background-color: beige;
  }

  #bigbar{
    background-color: beige;
    
  }
  #slogan{
    margin-top:20px;
    font-family: 'Montserrat', Impact;
   font-size:50px;
   text-align:center;
  }

  .main{
    max-width: 600px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    text-align:center;
    position: relative;
    font-family: 'Montserrat', Impact;
    font-size:20px;
  }

  #Imp{
    margin-top:60px;
    padding-top:10px;
  }
  #Total{
    background-color:white;
    margin-top:20px;
   padding-top:10px;
    border: 1px solid;
     padding: 10px;
     box-shadow: 4px 4px 10px #909090;
    font-family: 'Montserrat', Impact;
   font-size:20px;
 }

 #billheader{
  margin-top:20px;
  font-family: 'Montserrat', Impact;
 font-size:30px;
 }

  #Tip{
    background-color:white;
    margin-top:20px;
   padding-top:10px;
    border: 1px solid;
     padding: 10px;
     box-shadow: 4px 4px 10px #909090;
    font-family: 'Montserrat', Impact;
   font-size:20px;
 }
  #Splitter{
    margin-top:20px;
    padding-top:10px;
     border: 1px solid;
      padding: 10px;
      box-shadow: 4px 4px 10px #909090;
  }
  #Submit{
    background-color:white;
     margin-top:15px;
    padding-top:5px;
     border: 1px solid;
      padding: 10px;
      box-shadow: 4px 4px 10px #909090;
     font-family: 'Montserrat', Impact;
    font-size:20px;
  }
  
#tipPercent{
    background-color:white;
     margin-top:15px;
    padding-top:5px;
     border: 1px solid;
      padding: 10px;
      box-shadow: 4px 4px 10px #909090;
     font-family: 'Montserrat', Impact;
    font-size:20px;
}

#splitBetween{
    background-color:white;
     margin-top:15px;
    padding-top:5px;
     border: 1px solid;
      padding: 10px;
      box-shadow: 4px 4px 10px #909090;
     font-family: 'Montserrat', Impact;
    font-size:20px;
}

#preTipBill{
    background-color:white;
    margin-top:20px;
   padding-top:10px;
    border: 1px solid;
     padding: 10px;
     box-shadow: 4px 4px 10px #909090;
    font-family: 'Montserrat', Impact;
   font-size:20px;
 }

#calcbutton{
    margin-top:28px;
    padding-top: 7px;;
    font-family: 'Montserrat', Impact;
    font-size:20px;
    opacity:0.9;
    border-radius:15px;
    font-weight:100;
    text-align: center;
    width: 25%;
    height:38px;
    background-color: #fff;
}

#reset{
    margin-top:28px;
    padding-top: 7px;;
    font-family: 'Montserrat', Impact;
    font-size:20px;
    opacity:0.9;
    border-radius:15px;
    font-weight:100;
    text-align: center;
    width: 25%;
    height:38px;
    background-color: #fff;
}